 
.header {
        font-weight: bold;
        color: green;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart div:hover {
  background-color: cadetblue;
  font-size: 12px;
}